@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

:root {
  --neutral-900: #252f3d;
  --neutral-600: #7c899c;
  --neutral-500: #8fa3bf;
  --neutral-300: #dae4f2;
  --neutral-200: #e6edf7;
  --neutral-100: #f5f9ff;
  --neutral-0: #ffffff;
  --brand-defautl: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  --brand-hover: linear-gradient(102.47deg, #1667d9 -5.34%, #f279f2 106.58%);
  --brand-ligth: #e5f0ff;
  --brand-ligth2: #cce1ff;
  --green-default: #29cc74;
  --green-light: #ccffe3;
  --red-default: #e07f4f;
  --red-light: #ffdfd9;
  --specials-illustration-BG: linear-gradient(
    102.47deg,
    #7296eb -5.34%,
    #eac0e9 106.58%,
    #eac0e9 106.58%
  );
  --specials-section-BG: linear-gradient(
    102.47deg,
    rgba(23, 111, 235, 0.5) -5.34%,
    rgba(255, 128, 255, 0.5) 106.58%
  );
  --specials-illustration-BG: linear-gradient(180deg, #ff8800 0%, #ff6600 100%);
  --font-principal: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-principal);
}